<div class="container" style="margin:auto; margin-top:220px;">
  <h1 class="text-center display-1" [style]="title.getStyle()"> {{ title.getText() }} </h1>
  <app-dynamic-quiz [questions]="questions" [backEnable]="backEnable" [nextButton]="nextButton" [finishButton]="finishButton"
    [backEnable]="backEnable" [backButton]="backButton" [answerTextColor]="answerTextColor" [answerBoxColor]="answerBoxColor"
    [answerSelectedBoxColor]="answerSelectedBoxColor" [containerColor]="containerColor" [nextButton]="nextButton"
    [finishButton]="finishButton" [welcomeTitle]="welcomeTitle" [welcomeText]="welcomeText" [startButton]="startButton"
    [successTitle]="successTitle" [successMessage]="successMessage" [failureTitle]="failureTitle" [failureMessage]="failureMessage"
    [tryAgainButton]="tryAgainButton" [title]="title" [minPoints]='2' [answerSelectedTextColor]='red'>
  </app-dynamic-quiz>
</div>