<div class="container" style='background-color: blueviolet'>
    <div class='row jackpot-wrapper' style='background-color: blue'>
    <div class="odometer row">
        <div class="col-sm">
            <div *ngFor="let hero of sortImages" [@heroState]="state" class="digit digit-container digit-hundred img-wrapper">
                <img src={{hero}} />
            </div>
        </div>
        <div class="col-sm">
            <div *ngFor="let hero of sortImages" [@heroState]="state" class="digit digit-container digit-hundred img-wrapper">
                <img src={{hero}} />
            </div>
        </div>
        <div class="col-sm">
            <div *ngFor="let hero of sortImages" [@heroState]="state" class="digit digit-container digit-hundred img-wrapper">
                <img src={{hero}} />
            </div>
        </div>     
    </div>
  </div>
  <div class="row" style="margin-top:10px; align-content: center; background-color: blue" >
    <div class="col-sm">
        <button mat-raised-button type="button" (click)="toggleState()">Pular</button>
    </div>
    <div class="col-sm">
            <button mat-raised-button type="button" (click)="toggleState()">Pular</button>
        </div>
</div>
