label {    
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}

input[type='radio']  {
    visibility: hidden;
}

.question-wrapper:hover {
    background: #eee;
    cursor: pointer;
}

div.question-wrapper{
    padding: 0;
}

.form-check-label {
    border-radius: 0.25rem;
}
