<div class="container content"> <!-- container centers content on large screens -->
  <div class="row">             <!-- responsive row has 12 columns by default -->
      <div class="odometer">
        <div class="digit">
          <div class="digit-container digit-hundred">
            1 2 3 4 5 6 7 8 9 0
          </div>
        </div>
        <div class="digit">
          <div class="digit-container digit-ten">
            1 2 3 4 5 6 7 8 9 0
          </div>
        </div>
        <div class="digit">
          <div class="digit-container digit-one">
            1 2 3 4 5 6 7 8 9 0
          </div>
        </div>
    </div>
  </div>  
</div>

<footer></footer>