<mat-card style="margin:auto; margin-top:220px; width: 600px;">
    <h1 style="text-align:center" [ngStyle]="titleStyle" >{{ title }}</h1>
    <div class="example-container">
      <app-dynamic-form 
      [questions]="questions"
      [skipEnable]="skipEnable"
      [iconBtnSubmit]="iconBtnSubmit"
      [iconBtnSkip]="iconBtnSkip"
      [textBtnSubmit]="textBtnSubmit"
      [textBtnSkip]="textBtnSkip" 
      [btnSubmitStyle]="btnSubmitStyle"
      [btnSkipStyle]="btnSkipStyle">
    </app-dynamic-form>
    </div>
</mat-card>