<div class="jumbotron d-flex align-items-center">
    <div class="container text-center">
        <div class="card border-0" style="margin:auto; width: 600px;">
            <div class="card-header">
                <h1 style="text-align:center" [ngStyle]="title.getStyle()">{{ title.getText() }}</h1>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <p [ngStyle]="text.getStyle()">
                        {{ text.getText() }}
                    </p>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-lg btn-primary btn-lg btn-block" [ngStyle]="button.getStyle()" (click)="goToNext()">
                    <fa-icon [icon]="button.getIcon()"></fa-icon>
                    {{ button.getText() }}
                </button>
            </div>
        </div>
    </div>
</div>