<div class="container content">
    <div class="row" [ngStyle]=contentStyle>
        <div class="col-4"></div>
        <div class="col-4" style="text-align: center">
            <h1 [ngStyle]=title.getStyle()> {{ title.getText() }} </h1>
            <button type="button" class="btn btn-lg btn-primary" [ngStyle]=btn.getStyle() (click)="goToNext()">
                <p [ngStyle]=btn.getButtonTextStyle()>
                <fa-icon [icon]=btn.getIcon()></fa-icon> {{ btn.getButtonText() }}
                </p>
            </button>
        </div>
    </div>
</div>