<div *ngIf="stateMachine == 'welcome' ||  stateMachine == 'end'" class="card border-0">
  <div class="card-header">
    <h1 style="text-align:center" [ngStyle]="title.getStyle()">{{ title.getText() }}</h1>
  </div>
  <div class="card-body">
    <div class="card-text">
      <span [ngSwitch]="msgType">
        <p *ngSwitchCase="'success'" [ngStyle]="welcomeText.getStyle()">
          {{ successMessage.getText() }}
        </p>
        <p *ngSwitchCase="'failure'" [ngStyle]="welcomeText.getStyle()">
          {{ failureMessage.getText() }}
        </p>
        <p *ngSwitchDefault [ngStyle]="welcomeText.getStyle()">
          {{ welcomeText.getText() }}
        </p>
      </span>
    </div>
  </div>
  <div class="card-footer">
    <span [ngSwitch]="stateMachine">
      <div *ngSwitchCase="'welcome'">
        <button class="btn btn-lg btn-primary btn-lg btn-block" [ngStyle]="startButton.getStyle()" (click)="start()">
          <fa-icon [icon]="startButton.getIcon()"></fa-icon>
          {{ startButton.getText() }}
        </button>
      </div>
      <div *ngSwitchCase="'end'">
        <div class="btn-group d-flex" role="group" aria-label="...">
          <button type="button" (click)="tryAgain()" class="btn btn-primary w-100" [ngStyle]="tryAgainButton.getStyle()">
            <fa-icon [icon]=tryAgainButton.getIcon()></fa-icon>
            {{ tryAgainButton.getText() }}
          </button>
          <button type="button" (click)="finish()" class="btn btn-primary w-100" [ngStyle]="finishButton.getStyle()">
            <fa-icon [icon]=finishButton.getIcon()></fa-icon>
            {{ finishButton.getText() }}
          </button>
        </div>
      </div>
    </span>
  </div>
</div>

<div *ngIf="stateMachine == 'quiz'" class="card border-0">
  <div class="card-header" style="padding: 0px; height: 46px;">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item" [ngClass]="(i < currentQ) ? ['answered'] : ((i == currentQ) ? ['current'] : [])" *ngFor="let question of questions; index as i">
        <a class="nav-link"> {{ 'Questão ' + question.key }} </a>
      </li>
    </ul>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-body">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" [ngClass]="(currentQ == i) ? ['show', 'active'] : []" *ngFor="let question of questions; index as i">
          <app-dynamic-form-question [question]="question" [form]="form" [keyboard]='keyboardLayout' [answerTextColor]="answerTextColor"
            [answerBoxColor]="answerBoxColor" [answerSelectedTextColor]="answerSelectedTextColor"
            [answerSelectedBoxColor]="answerSelectedBoxColor">
          </app-dynamic-form-question>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="btn-group d-flex" role="group" aria-label="...">
        <button type="button" *ngIf="backEnable && currentQ > 0" class="btn btn-primary w-100" [ngStyle]="backButton.getStyle()">
          <fa-icon [icon]=backButton.getIcon()></fa-icon>
          {{ backButton.getText() }}
        </button>

        <button type="button" [hidden]="currentQ == questions.length - 1" (click)="nextQuestion()" class="btn btn-primary w-100"
          [ngStyle]="nextButton.getStyle()">
          <fa-icon [icon]=nextButton.getIcon()></fa-icon>
          {{ nextButton.getText() }}
        </button>

        <button type="submit" *ngIf="currentQ == questions.length - 1" class="btn btn-primary w-100" [ngStyle]="finishButton.getStyle()">
          <fa-icon [icon]=finishButton.getIcon()></fa-icon>
          {{ finishButton.getText() }}
        </button>
      </div>
    </div>
  </form>
</div>