<div class="card" style="margin:auto; margin-top:220px; width: 800px;">
    <div class="card-body" style="text-align: center; overflow: hidden;">
        <div [hidden]="countdown == 0 || countdown == 4" class="animated pulse infinite countdown">
            {{countdown}}
        </div>
        <div id=webcam_wrapper>
            <webcam (imageCapture)="handleImage($event)" [trigger]="triggerObservable" [width]="1080" [height]="720">
            </webcam>
        </div>
        <img id="photo_frame" src="./assets/images/moldura.png">
    </div>

    <div class="card-footer">
        <div class="btn-group d-flex" role="group" aria-label="...">
            <button type="button" class="btn btn-primary w-100" (click)="triggerSnapshot()">
                <!-- <fa-icon [icon]=backButton.getIcon()></fa-icon> -->
                Take
            </button>
            <button type="submit" class="btn btn-primary w-100" (click)="printPicture()">
                <!-- <fa-icon [icon]=finishButton.getIcon()></fa-icon> -->
                Print
            </button>
        </div>
        <!-- <button mat-raised-button color="warn" class="take-picture" (click)="confirm_picture == '' ? triggerSnapshot() : printPicture()">
            <fa-icon [hidden]="confirm_picture != ''" [icon]=takePicBtnIcon></fa-icon>
            <fa-icon [hidden]="confirm_picture == ''" [icon]=takeNewPicBtnIcon></fa-icon>
            {{confirm_picture == '' ? takePicBtnText : confirmBtnText}}
        </button> -->
    </div>
</div>