<mat-card style="margin:auto; margin-top:220px; width: 600px;">
    <h1 id="title" [ngStyle]="titleStyle">{{ title }}</h1>
    <div style="text-align: center; overflow: hidden;">
        <div
          [hidden]="countdown == 0 || countdown == 4"
          class="animated pulse infinite countdown">
          {{countdown}}
        </div>
      <webcam 
        (imageCapture)="handleImage($event)" 
        [trigger]="triggerObservable">
      </webcam>
    </div>
    <button mat-raised-button color="warn" class="take-picture" (click)="confirm_picture == '' ? triggerSnapshot() : printPicture()">
        <fa-icon [hidden]="confirm_picture != ''" [icon]=takePicBtnIcon></fa-icon>
        <fa-icon [hidden]="confirm_picture == ''" [icon]=takeNewPicBtnIcon></fa-icon>
        {{confirm_picture == '' ? takePicBtnText : confirmBtnText}}
    </button>
</mat-card>

