<div class="card" style="margin:auto; margin-top:220px; width: 800px;">
    <div *ngIf="state == 'take' || state == 'show'" class="card-header p-0 bg-transparent">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item" *ngFor="let item of frames; let i=index">
                <button class="button nav-link w-100 h-100 p-3" (click)="selectFrame(i)">{{ 'Moldura ' + i }}</button>
            </li>
        </ul>
    </div>

    <div *ngIf="state == 'take'" class="card-body" style="text-align: center; overflow: hidden;">
        <div [hidden]="countdown == 0 || countdown == 4" class="animated pulse infinite countdown">
            {{countdown}}
        </div>
        <div id=webcam_wrapper>
            <webcam (imageCapture)="handleImage($event)" [trigger]="triggerObservable" [width]="1080" [height]="720">
            </webcam>
        </div>
        <img id="photo_frame" [src]="frames[currentFrame].path">
    </div>

    <div class="card-body" *ngIf="state == 'show'" class="card-body" style="text-align: center; overflow: hidden;">
        <div id=webcam_wrapper>
            <img [width]="1080" [height]="720" [src]="picture.imageAsDataUrl" />
        </div>
        <img id="photo_frame" [src]="frames[currentFrame].path">
    </div>

    <div class="card-body" *ngIf="state == 'end'" class="card-body" style="text-align: center; overflow: hidden;">
        <p [ngStyle]="thankyouMessage.getStyle()">
            {{ thankyouMessage.getText() }}
        </p>
    </div>

    <div class="card-footer">
        <div class="btn-group d-flex" role="group" aria-label="...">
            <app-pg-button class='w-100' [btn]='backBtn' (click)="triggerSnapshot()"></app-pg-button>
            <app-pg-button *ngIf="state == 'take'" class='w-100' [btn]='takePicBtn' (click)="triggerSnapshot()"></app-pg-button>
            <app-pg-button *ngIf="state == 'show'" class='w-100' [btn]='takeNewPicBtn' (click)="triggerSnapshot()"></app-pg-button>
            <app-pg-button *ngIf="state == 'show'" class='w-100' [btn]='confirmBtn' (click)="thanks()"></app-pg-button>
            <app-pg-button *ngIf="state == 'end'" class='w-100' [btn]='confirmBtn' (click)="finish()"></app-pg-button>
        </div>
    </div>
</div>