<div class="hgroup">
    <img id="product-logo" src="assets/images/golden-logo.png">
</div>

<mat-card style="margin:auto;width: 600px;">
  <div class="example-container">
    <mat-form-field appearance="outline">
      <mat-label>Evento ID</mat-label>
      <input matInput [(ngModel)]="eventId" [matKeyboard]="'Portuguese (Brazil)'">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" [matKeyboard]="'Portuguese (Brazil)'">
    </mat-form-field>
    
    <button mat-raised-button color="warn" type="submit" class="btn btn-primary" (click)="tryLogin()">Login</button>
  </div>
</mat-card>

<footer class="container">
  <div class="row">
    <div class="col-sm" style="text-align: center; padding: 25px">
      <img id="company-logo" src="assets/images/hardcode-logo.png">
    </div>
  </div>
</footer>