.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto
}
.hgroup { 
    margin-top: 220px;
}

#product-logo {
    margin-bottom: 22px;
}

#company-logo {
    height: 30px; 
}

.slogan {
    font-size: 13px;
	letter-spacing: .4px;
    color: #b3b3b3ff;
}

.form-signin #inputEvent {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin #inputPassword {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}